@import "./common.scss";
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: px2rem(100px);
        background: #ff852a;
        display: flex;
        .span1 {
            padding: 0 px2rem(20px);
            color: #fff;
            line-height: px2rem(100px);
            font-size: px2rem(50px);
        }
        .span2 {
            flex: 1;
            padding: px2rem(20px) 0;
            padding-right: px2rem(20px);
            input {
                text-align: center;
                width: 100%;
                height: 100%;
                border: none;
                background: #ff4e22;
                border-radius: px2rem(40px);
            }
        }
    }
    .main {
        width: 100%;
        height: px2rem(1000px);
        flex: 1;
        overflow: auto;
        .banner {
            width: 100%;
            li {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .page {
                width: 100%;
                position: absolute;
                left: 50%;
                bottom: 5%;
                transform: translate(-10%, 0)
            }
        }
        .nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            dl {
                width: 20%;
                text-align: center;
                padding: px2rem(10px);
                dt {
                    width: px2rem(120px);
                    height: px2rem(120px);
                    border-radius: 50%;
                    margin: 0 auto;
                    i {
                        color: #fff;
                        font-size: px2rem(70px);
                        line-height: px2rem(120px);
                    }
                }
                dd {
                    padding: px2rem(10px) 0;
                }
            }
        }
        .banner2 {
            width: 100%;
            display: flex;
            border: 1px solid #ccc;
            height: px2rem(150px);
            h2 {
                width: px2rem(120px);
                padding: px2rem(10px);
                img {
                    width: 100%;
                }
            }
            .banner_div {
                flex: 1;
                ul {
                    li {
                        display: flex;
                        .left {
                            flex: 1;
                            padding: px2rem(20px);
                            p {
                                width: 100%;
                                padding-bottom: px2rem(10px);
                                .span1 {
                                    border: px2rem(1px) solid red;
                                    padding: 0 px2rem(10px);
                                    border-radius: px2rem(10px);
                                    color: red;
                                }
                            }
                        }
                        .right {
                            width: px2rem(220px);
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        display: flex;
        dl {
            width: 20%;
            text-align: center;
            border-top: 1px solid #ccc;
            dt {
                margin: 0 auto;
                i {
                    font-size: px2rem(55px);
                }
            }
        }
    }
}